//! **************************************************************************
// Written by: Map P.20131013 on Thu May 27 19:33:04 2021
//! **************************************************************************

SCHEMATIC START;
COMP "led1" LOCATE = SITE "P67" LEVEL 1;
COMP "led2" LOCATE = SITE "P74" LEVEL 1;
COMP "but2" LOCATE = SITE "P46" LEVEL 1;
PIN but2_pin<0> = BEL "but2" PINNAME PAD;
PIN "but2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "buzzer" LOCATE = SITE "P83" LEVEL 1;
COMP "sw2" LOCATE = SITE "P62" LEVEL 1;
COMP "rx" LOCATE = SITE "P97" LEVEL 1;
COMP "tx" LOCATE = SITE "P98" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

