


NET "sw1" LOC = P66;
NET "but1" LOC = P45;
NET "CLK" LOC = P123;
NET "led1" LOC = P67;
NET "led2" LOC = P74;
NET "tx" LOC = P98;
NET "rx" LOC = P97;

#NET "but2" CLOCK_DEDICATED_ROUTE = FALSE; 
#NET "buzzer" LOC = P83;
# PlanAhead Generated physical constraints 
#NET "sw1" LOC = P66;
#NET "led3" LOC = P6;
#NET "led4" LOC = P78;
#NET "led5" LOC = P79;
#NET "but1" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "Trigger" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "but1" LOC = P45;
#NET "state" LOC = P5;
#NET "Trigger" LOC = P124;