


NET "sw1" LOC = P66;
NET "but1" LOC = P45;
NET "CLK" LOC = P123;
NET "led1" LOC = P67;
NET "led2" LOC = P74;
NET "tx" LOC = P98;
NET "rx" LOC = P97;

#NET "but2" CLOCK_DEDICATED_ROUTE = FALSE; 
#NET "buzzer" LOC = P83;
# PlanAhead Generated physical constraints 
#NET "sw1" LOC = P66;
#NET "led3" LOC = P6;
#NET "led4" LOC = P78;
#NET "led5" LOC = P79;
NET "but1" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "Trigger" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "but1" LOC = P45;
#NET "state" LOC = P5;
#NET "Trigger" LOC = P124;

NET "Data7[0]" LOC = P27;
NET "Data7[1]" LOC = P29;
NET "Data7[2]" LOC = P32;
NET "Data7[3]" LOC = P34; 
NET "Data7[4]" LOC = P35;
NET "Data7[5]" LOC = P40;
NET "Data7[6]" LOC = P41;
NET "seg[1]" LOC = P44;
NET "seg[0]" LOC = P43;
NET "comm[0]" LOC = P30;
NET "comm[1]" LOC = P33;