

NET "Data[0]" LOC = P27;
NET "Data[1]" LOC = P29;
NET "Data[2]" LOC = P32;
NET "Data[3]" LOC = P34;

# PlanAhead Generated physical constraints 

NET "Data[4]" LOC = P35;
NET "Data[5]" LOC = P40;
NET "Data[6]" LOC = P41;
NET "seg[1]" LOC = P44;
NET "seg[0]" LOC = P43;
NET "Sen" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Trigger" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Sen" LOC = P56;
NET "Trigger" LOC = P45;
NET "CLK" LOC = P123;
NET "comm[0]" LOC = P30;
NET "comm[1]" LOC = P33;